
<mat-toolbar color="primary">
  <span>Apollus</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <span>Right Aligned Text</span>
</mat-toolbar>
<!-- <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Apollus </a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav> -->
<!-- <nav>
  <a routerLink="/cadastros">cadastros</a>
</nav> -->
<div class="container-fluid"><router-outlet></router-outlet></div>
