
<mat-toolbar color="primary">
  <span>Apollus</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <button mat-icon-button class="color: white" [matMenuTriggerFor]="menu2">
    <mat-icon aria-label="Sistema">settings</mat-icon>
  </button>
  <mat-menu #menu2="matMenu">
    <button mat-menu-item>Cadastros</button>
  </mat-menu>
  <button mat-icon-button class="color: white" [matMenuTriggerFor]="menu">
    <mat-icon aria-label="Sua conta">person</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Perfil</button>
    <button mat-menu-item>Logout</button>
  </mat-menu>
</mat-toolbar>
<!-- <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Apollus </a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav> -->
<!-- <nav>
  <a routerLink="/cadastros">cadastros</a>
</nav> -->
<div class="container-fluid"><router-outlet></router-outlet></div>
